<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
    <script src="<%= htmlWebpackPlugin.options.source %>" type="text/javascript" charset="utf-8"></script>
    <!--<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.js" type="text/javascript" charset="utf-8"></script>-->
  </head>
  <body>
  	<div id="root"></div>
  	<div id="portal"></div>
  </body>
</html>