.confirm {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1099;
	background-color: rgba(0,0,0,.5);
	
	&.confirm-fade-enter-active {
		animation: confirm-fadein 0.3s;
		.confirm-content {
			animation: confirm-zoom 0.3s;
		}
	}
	.confirm-wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: 999;
		
		.confirm-content {
			width: 470px;
			height: auto;
			border-radius: 13px;
			background: #CCCCCC;
			border: 1px solid #222;
			
			.text {
				padding: 39px 25px;
				line-height: 22px;
				text-align: center;
				font-size: 50px;
				color: #222;
			}
			.operate {
				display: flex;
				align-items: center;
				text-align: center;
				font-size: 30px;
				.operate-btn {
					flex: 1;
					line-height: 22px;
					padding: 30px 0;
					border-top: 1px solid #222;
					color: #fff;
					&.left {
						border-right: 1px solid #222;
					}
				}
			}
		}
	}
}

@keyframes confirm-fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

@keyframes confirm-zoom {
	0% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(1);
	}
}